.j-cust-head {
   padding: 30.0px 20.0px;
}
.j-header-mode-custom {
    position: relative;
    top: auto;
    box-shadow: none;
    width: auto;
    min-width: 0;
    padding: 0;
}
.navbarSupportedContent {
  position: relative;
  top: 18px;
}
.has-menu {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1.0px;
  background-color: #ffffff;
}
.has-menu a {
  color: #592c81;
}
.j-globalNav-bg {
  background-color: #592c81;
  background-image: none;
  border-style: solid;
}
.j-globalNav li.j-globalNav-li {
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    font-weight: 500;
  }
  .menu {
    display:none;
  }
.j-globalNav-li a {
  color:white;
  text-decoration: none;
}
  .j-navbadge-inbox .j-navbadge-count {
      text-align: center;
      padding: 0 2px 0 22px;
      position: absolute;
      line-height: 24px;
      height: 24px;
      left: 0;
      right: 0;
      border-right: 30px;
      top: 0;
      box-shadow: none;
      outline: 0;
  }

  .j-navbadge-count {
      background-color: #DE890A;
  }
